.message-box-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.message-box-wrapper .message-box-mask{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
  background-color: #000;
  opacity: 0.3;
}

.message-box-wrapper .message-box-mask.hide{
  display: none;
}

.message-box-wrapper .message-box-container{
  width: 360px;
  padding: 20px;
  position: absolute;
  z-index: 1001;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all .3s linear;
}

.message-box-wrapper .message-box-container.enter{
  animation: message-box-show 0.3s ease;
}

.message-box-wrapper .message-box-container.leave{
  animation: message-box-hide 0.3s ease;
  opacity: 0;
}

@keyframes message-box-show{
  from{
    opacity: 0;
    margin-top: -10px;
  }
  to{
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes message-box-hide{
  from{
    opacity: 1;
    margin-top: 0;
  }
  to{
    opacity: 0;
    margin-top: -10px;
  }
}

.message-box-container .message-title{
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.message-box-container .message-content{
  font-size: 14px;
  color: #48576a;
  padding: 30px 0;
}

.message-box-container .message-operation{
  display: flex;
  justify-content: flex-end;
}

.message-box-container .message-operation .btn-cancel{
  margin-right: 10px;
}
