$color = #333

.carousel-wrapper
  width 100%
  height 100%
  position relative
  overflow hidden

  .carousel-item
    width 100%
    height 100%
    position absolute
    opacity 1
    // left 100%

    &.active
      transition all 1s ease-in-out

    &.center
      left 0

    &.left
      left -100%

    &.right
      left 100%

    &.hide
      opacity 0

  .prev
    cursor pointer
    background-color #000
    opacity .3
    color #fff
    padding 10px
    position absolute
    left 0
    top 50%
    transform translate(0, -50%)

  .next
    cursor pointer
    background-color #000
    opacity .3
    color #fff
    padding 10px
    position absolute
    right 0
    top 50%
    transform translate(0, -50%)

.photo-0
  background $color

.photo-1
  background red
  // top 75px

.photo-2
  background blue
  // top 150px
