.btn {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px 15px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btn-success {
  background-color: #13ce66;
  border: 1px solid #13ce66;
}

.btn-success:hover {
  background-color: #42d885;
  border: 1px solid #42d885;
}

.btn-success:active {
  background-color: #11b95c;
  border: 1px solid #11b95c;
}
